[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "offlineChange"]
	path = offlineChange
	url = https://github.com/cran/offlineChange
	shallow = true
	registered = true
